.main-window{
    -fx-background-color: #D8E6EE;
}

.graph-window{
    -fx-background-color: #CAEDD2;
}

.label{
    -fx-font-family: 'Inter';
    -fx-font-size: 12px;
    -fx-text-fill: #A5A5A5;
}

.button{
    -fx-text-fill: #777777;
    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-size: 12px;
    -fx-border-radius: 6px;
    -fx-background-color: #F3F3F3;
}

.button:hover{
    -fx-opacity: 0.5;
}

.l-max{
    -fx-background-color: #F3F3F3;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-padding: 4px;
}

.run-button{
    -fx-background-color: #FFA5A5;
}

.check-button{
    -fx-background-color: #B6FFBD;
}

.reset-button{
    -fx-background-color: #DEFDFF;
}

.header {
    -fx-padding: 10px;
    -fx-background-color: #F3F3F3;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
